@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
}

.react-calendar__navigation {
    display: flex;
    margin-bottom: 18px;
    padding-top: 13px;
    padding-left: 16px;
    padding-right: 16px;
  }
  
  .react-calendar__month-view {
    padding-left: 4px;
    padding-right: 4px;
  }
  
  .react-calendar__navigation__label {
    order: 1;
    flex-grow: initial !important;
  }
  
  .react-calendar__navigation__prev-button {
    order: 2;
    margin-left: auto;
    margin-right: 4px;
  }
  
  .react-calendar__navigation__next-button {
    order: 3;
  }
  
  .react-calendar__month-view__weekdays__weekday {
    font-size: 10px;
    text-align: center;
    color: #bababa;
    margin-bottom: 18px;
  }
  
  .react-calendar__month-view__weekdays__weekday > abbr {
    text-decoration: none;
  }
  
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #bababa;
  }
  
  .react-calendar__tile--rangeBothEnds {
    background-color: black !important;
    border-radius: 100%;
    color: white !important;
  }
  
  .react-calendar__year-view__months__month:disabled:hover,
  .react-calendar__decade-view__years__year:disabled:hover,
  .react-calendar__month-view__days__day:disabled:hover {
    color: #bababa;
    background-color: white !important;
  }
  
  .react-calendar__navigation__prev-button:disabled path {
    fill: #bababa;
  }
  
  .calendar-modal .react-calendar__navigation {
    padding-top: 20px;
    padding-left: 26px;
    padding-right: 26px;
  }
  
  .calendar-modal .react-calendar__month-view {
    padding-left: 16px;
    padding-right: 16px;
  }

  .background-image {
    background-image: url('logo.png');
    width: 60%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .background-register {
    background-image: url('register.jpg');
    width: 60%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .logo-header {
    background-image: url('logoheader.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
    width: 120px; 
    height: 50px; 
    margin-bottom: 2rem; 
  }
  
  .icon-user {
    background-image: url('user.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
  }
  

  .icon-location {
    background-image: url('location.png');
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
  }

  /* globals.css */

  .nav-item {
    display: flex;
    align-items: center; /* Alinha verticalmente o ícone e o texto */
    padding: 8px; /* Ajuste o padding conforme necessário */
  }
  
  .nav-item::before {
    content: "";
    display: inline-block;
    width: 24px; /* Ajuste o tamanho conforme necessário */
    height: 24px;
    background-size: contain; /* Ajusta a imagem para caber no contêiner */
    background-repeat: no-repeat;
    background-position: center; /* Centraliza a imagem */
    margin-right: 10px; /* Espaço entre o ícone e o texto */
    
    /* Ajuste a margem superior e inferior para centralizar o texto */
    margin-top: -4px; /* Ajuste conforme necessário */
    margin-bottom: -4px; /* Ajuste conforme necessário */
  }
  

.nav-item-dashboard::before {
  background-image: url('house.png');
}

.nav-item-locais::before {
  background-image: url('position.png');
}

.nav-item-usuarios::before {
  background-image: url('house.png');
}

.btn-custom {
  width: 205px;
  height: 49px;
  border-radius: 8px;
}



.icon-edit {
  background: url('pencil.png') no-repeat center center;
  background-size: contain;
  width: 16px; 
  height: 16px; 
  border: none;
  cursor: pointer; 
}

.icon-delete {
  background: url('delete.png') no-repeat center center;
  background-size: contain;
  width: 16px; 
  height: 16px; 
  border: none; 
  cursor: pointer;
}

.table-button {
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.nav-item-active {
  background-color: #4a4a4a;
}